

    <table cellpadding="0" cellspacing="0" border="0" style="width: 100%">
        <tbody>
            <tr>
                <td width="33%">
                    <a class="back" href="javascript:history.go(-1);">
                        <img src="views/generic/bb2images/home/appnav-back.png" alt="back" />
                        {{website.Back_Button}}
                    </a>
                </td>

                <td width="33%">
                    <a class="home" href="Home.html">
                        <img src="views/generic/bb2images/home/appnav-home.png" alt="home" />
                        {{website.Home}}</a>
                </td>
                <td width="33%">

                    <a class="translate" href="Translator.aspx?sid=5">
                        <img src="views/generic/bb2images/home/appnav-translate.png" alt="translate" />
                        {{website.Translator_Title}}</a>

                </td>

            </tr>
        </tbody>
    </table>
